<a href="https://colab.research.google.com/github/EDWARDPP/edd_1358_2021/blob/master/2octubre1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de dato
- string                 str
- enteros                int 
- numero flotante        float
- Logico                 bool
- numero complejo        complex
- listas                 list
-tuplas                  tuple
-diccionarios            dict
-conjuntos               set

In [47]:
# string puede emplear "", '' o """  """
universidad = "     universidad nacional autonoma de mexico"
print(universidad)
# cuando el string es una sola palabra se usa '', por buena practica
carrera = 'ico'
area = 'software'
division = 'division de las ciencias fisico matematicas '
print(carrera, area)
print(division)
#Las triples comillas se utilizan cuando el string tiene varios renglones
frase = """ 
si 
funciona ¡¡no
lo
arregles !!
"""
print(frase)

     universidad nacional autonoma de mexico
ico software
division de las ciencias fisico matematicas

si
funciona ¡¡no
lo
arregles !!

In [48]:
print(universidad.upper() ) #regresa una copia en mayusculas
print(universidad)
print(universidad.title()) #Le da formato al texto, con las letras iniciales en mayusculas
universidad = universidad.strip() #Quita los espacios en blanco a la derecha e izquierda y elimina los saltos de linea
print(universidad)
lista = universidad.split(" ")
print(lista)

nueva=""
for l in lista:
  if len(l) > 0:
    nueva += l + " "
print(nueva)

numeros = "1, 2, 34, 56, 100" #Para operar con ellos hay que separarlos
separados = numeros.split(",") 
print(separados)
#para operarlos como enteros hay que convertirlos

numeros_int =[]
for num in separados:
  numeros_int.append( int(num))

print(numeros_int) 
print(nueva)
print(nueva.index("na"))#imprime la posicion del primer espacio en blanco o cualquier otra cadena que le indiques
print(nueva.replace(' ','-' )) #remplaza los elemtos indicados en la cadena original
print(nueva)

     UNIVERSIDAD NACIONAL AUTONOMA DE MEXICO
     universidad nacional autonoma de mexico
     Universidad Nacional Autonoma De Mexico
universidad nacional autonoma de mexico
['universidad', 'nacional', 'autonoma', 'de', 'mexico']
universidad nacional autonoma de mexico
['1', ' 2', ' 34', ' 56', ' 100']
[1, 2, 34, 56, 100]
universidad nacional autonoma de mexico
12
universidad-nacional-autonoma-de-mexico-
universidad nacional autonoma de mexico

#slicing
sintaxis
[ inicio : stop : incremeto ]

In [49]:
#selector de elementos dentro de un string 
print(nueva[0]) 
nueva = nueva.strip()
print( nueva[len(nueva)-1]) #len devuelve el tamaño de una lista y esta linea imprime el ultimo elemento de nueva
print(nueva[-2])

#slicing(se sacan mas elementos de un string, una rebanada)
print(nueva)
print( nueva[12: 20: 1]) #Al tope se le tiene que aumentar en uno 

#indexado negativo en slicing
print( nueva[-6: : 1])
#mexico a la inversa
print (nueva[-1: -7: -1]) #si quieres ir a la derecha se pone positivo y a la izquierda negativo

# valores por defecto [0 : long de la lista : 1]
print(nueva[::2])

u
o
c
universidad nacional autonoma de mexico
nacional
mexico
ocixem
uiesddncoa uooad eio

#Tipo de dato bool
Acepta solo dos valores
- True bool(1)
- False bool(0)

In [50]:
print(bool(0))
print(bool(43255))
flag = 0
print(bool(flag))
print(True)

False
True
False
True

#comentarios

para un comentario de una linea se usa #

para un comentario de multiple linea, equivalente a /* */ de java y c se utiliza """ """

In [51]:
# este es un comentario de linea simple

"""
Este 
 es un
  comentario de
    multiple 
       linea
"""

'\nEste \n es un\n  comentario de\n    multiple \n       linea\n'

#  Funcion Print
Existen 4 formas de usar print.
1. con comas (,)
2. con signo mas(+)
3. con la funcion format de la clase string
4. con el operador f"

In [52]:
 # con comas
 cantidad = 2
 precio_chetos = 8
 precio_fanta = 12
 
 print(cantidad, precio_chetos, precio_fanta) #todo lo que este con comas lo convierte en string

 #Con el signo mas, solo opera con strings
 print("Hola" + "Mundo")
print(cantidad + precio_chetos + precio_fanta)#el operador +, puede funcionar como operador aritmetico o como concatenador
print(str(cantidad) + str(precio_chetos)+ str(precio_fanta)) #haciendo cating a string

2 8 12
HolaMundo
22
2812